@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./assets/basket.jpg');
    background-size: 100%;
    font-family: Poppins,sans-serif;
}

    .form{
    border:5px solid black;
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(168, 166, 166);
    font-size: larger;
}

.cont-req{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-top: 10px;
}

.cont-req input{
    height: 35px;
    width: 15rem;
    border-color: black;
    outline: none;
}

.font{
   display: flex;
   justify-content: center;
}

.button button{
    background-color: aliceblue;
    border: none;
    border-radius: 10px;
    font-size: large;
    padding: 8px;
}

button:hover{
    background-color: rgb(99, 96, 96);
    cursor: pointer;
}

.button{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.cont-main{
    margin-top: 10px;
}

.font-small{
    font-size: small;
    margin-top: 10px;
}

a{
    text-decoration:underline;
    color: black;
}